<br>
<div class="row">
  <div class="col-xs-12">
    <a
      [routerLink]="[todoId]"
      routerLinkActive="active"
      class="list-group-item clearfix"
    >
      <div class="pull-left">
        <h3 class="list-group-item-heading">{{ item.title }}
          <span class="badge">{{ item.priority }}</span>
        </h3>
        <p class="list-group-item-text">{{ item.description }}</p>
      </div>
      <span class="pull-right">
        <img src="assets/images/todostack.jpg" alt="" class="img-responsive" style="max-height: 75px">
      </span>
    </a>
  </div>
</div>
