<br>
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        {{ todo.title }}
      </div>
      <div class="panel-body">
        {{ todo.description }}
      </div>
      <ul class="list-group">
        <li class="list-group-item">Priority: {{ todo.priority }}</li>
        <li class="list-group-item">Category: {{ todo.category }}</li>
        <li class="list-group-item">Date Created: {{ todo.dateCreated }}</li>
      </ul>
      <div class="panel-body">
        <div class="btn-group btn-group-justified">
          <div class="btn-group" role="group">
            <button (click)="onTodoEdit()" class="btn btn-danger">Edit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
