<br>
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{ todo.title }}
      </div>
      <div class="panel-body">
        Item Status: {{ todo.itemStatus }}
        <br>
        Created Date: {{ todo.dateCreated }}
        <br>
        Due Date: {{ todo.dateToComplete }}
      </div>
      <div class="panel-body">
        Description:
        <br>
        {{ todo.description }}
      </div>
      <div class="panel-body">
        <button class="btn btn-danger pull-right">Edit</button>
      </div>
    </div>
  </div>
</div>
